body {
    font: Arial;
    background-color: #bdf3fc; 
    text-align: center;
    margin-bottom: 100px;
}

header {
    background-color: #51b9c9;
    color: white;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header-title {
    margin: 0;
}
.nav-tabs {
    margin: 0;
}

.nav-tabs .nav-link {
    color: white;
}

.nav-tabs .nav-link:hover {
    color: #1565C0; /* Colore per quando il link è in hover (opzionale) */
}


img {
    border-radius: 50%;
    width: 200px;
}

.descrizione {
    margin: 20px;
    text-align: center;
}

.immagine-casuale, .immagine2 {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

footer {
    background-color: #51b9c9; /* Colore di sfondo del piè di pagina */
    color: white; /* Colore del testo del piè di pagina */
    padding: 20px; /* Aumenta il padding per ingrandire il footer */
    height: 100px; /* Altezza fissa per ingrandire ulteriormente il footer */
    position: fixed; /* Fissa il piè di pagina in fondo alla pagina */
    bottom: 0; /* Posizione in fondo */
    width: 100%; /* Larghezza al 100% */
    display: flex; /* Imposta la disposizione degli elementi */
    justify-content: space-between; /* Spaziatura uniforme tra i div */
    align-items: center; /* Allinea gli elementi verticalmente */
    text-align: center; /* Centra il testo */
}

footer .quote {
    font-style: italic; /* Stile corsivo per la citazione */
    font-size: 14px; /* Dimensione del testo */
    margin: 0 20px; /* Margine laterale per separare la citazione dagli altri elementi */
}

footer div {
    display: flex;
    align-items: center;
}

footer img {
    width: 30px; /* Aumenta la dimensione delle icone */
    height: auto;
    margin-left: 15px; /* Spaziatura tra le icone */
    transition: transform 0.3s; /* Aggiunge un effetto di transizione */
}

footer img:hover {
    transform: scale(1.2); /* Ingrandisce l'icona al passaggio del mouse */
}

/* Colore di sfondo e testo di default */
.accordion-button {
    background-color: #bdf3fc;
    color: black;
}

/* Colore speciale per il pulsante e il contenuto della tendina aperta */
.accordion-button:not(.collapsed) {
    background-color: #1565C0;
    color: white;
}

/* Colore del testo e sfondo speciale per il contenuto della tendina aperta */
.accordion-item .accordion-button:not(.collapsed) + .accordion-collapse .accordion-body {
    color: white;
    background-color: #1565C0;
}

/* Colore di sfondo predefinito per il corpo della tendina */
.accordion-collapse .accordion-body {
    background-color: #bdf3fc;
    color: black;
}
