body {
    font-family: Arial, sans-serif;
    background-color: #2b2e2b;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #20211f;
    padding: 10px;
}

.titolo {
    color: white;
    margin: 0;
    font-size: 2rem;
}

/* Stili per la nav-bar */
.nav-bar {
    display: flex;
    justify-content: center;
    background-color: #20211f;
    padding: 10px 0;
}

.nav-bar .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
}

.nav-bar .nav-link:hover {
    color: #1565C0;
}

.nav-bar .nav-link.active {
    color: #1565C0;
    font-weight: 700;
}

.nav-bar .nav-link.disabled {
    color: #A4D3E2;
    pointer-events: none;
}

main {
    padding: 20px;
    min-height: calc(100vh - 100px); /* Per evitare che il footer copra i contenuti */
}

/* Stile per allineare immagini e testi */
.row {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 200px;
    text-align: center;
}

.col-md-8 {
    flex: 1;
    padding-left: 20px;
}

.img-square {
    border-radius: 50%;
    width: 150px;
    margin-top: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Stile per il footer */
footer {
    background-color: #2b2e2b;
    color: white;
    padding: 15px;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
}

/* Stili per accordion */
.accordion-button {
    background-color: #4b4d4b;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.accordion-button:hover,
.accordion-button:focus {
    background-color: #4b4d4b;
    color: white;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-body {
    background-color: #ffffff;
    color: #333;
    border-radius: 5px;
    padding: 15px;
}
