body {
    font: Arial;
    background-color: #bdf3fc; 
    text-align: center;
    margin-bottom: 100px;
}

header {
    background-color: #51b9c9;
    color: white;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header-title {
    margin: 0;
}
.nav-tabs {
    margin: 0;
}

.nav-tabs .nav-link {
    color: white;
}

.nav-tabs .nav-link:hover {
    color: #1565C0; /* Colore per quando il link è in hover (opzionale) */
}


img {
    border-radius: 50%;
    width: 200px;
}

.descrizione {
    margin: 20px;
    text-align: center;
}

.immagine-casuale, .immagine2 {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

footer {
    background-color: #51b9c9;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Colore di sfondo e testo di default */
.accordion-button {
    background-color: #bdf3fc;
    color: black;
}

/* Colore speciale per il pulsante e il contenuto della tendina aperta */
.accordion-button:not(.collapsed) {
    background-color: #1565C0;
    color: white;
}

/* Colore del testo e sfondo speciale per il contenuto della tendina aperta */
.accordion-item .accordion-button:not(.collapsed) + .accordion-collapse .accordion-body {
    color: white;
    background-color: #1565C0;
}

/* Colore di sfondo predefinito per il corpo della tendina */
.accordion-collapse .accordion-body {
    background-color: #bdf3fc;
    color: black;
}
